body {
    background-color: white;
    /* background-image: url("wp4735189-pink-laptop-wallpapers.jpg");
    
    background-repeat: no-repeat; */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1 {
    position: absolute;
    font-size: xx-large;
    top:8px;
    left:16px;
    font-family:'Times New Roman', Times, serif;
    color: #fff;
}

h2 {
    position: absolute;
    
    top:8px;
    right:16px;
    font-family:'Times New Roman', Times, serif;
}

.owl-carousel .item {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: opacity 0.5s;
}

.owl-carousel .item.active {
    opacity: 1;
}

.card {
    border: none;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    text-align: center;
    background-color:#AA336A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    opacity: 100%;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 20px;
    align-items: center;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: auto; /* Align button to the bottom of the card */
}

.btn-primary:hover {
    background-color: #0056b3;
}